header {
    /* background-color:rgb(3, 3, 68); */
    background-image: url(bg-img-bluegradient.jpg);
    padding: 10px 0px;
    height: 50px;
    border: rgb(1, 1, 44) 5px solid;
    border-radius: 20px;
    display: flex;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}
.name a{
    color: white;
    padding: 2px 20px;
    text-align: center;
    margin-left: 300px;
    text-decoration: none;
}
.name{
    margin-top: -22px;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    padding-left: 20px;
}
.navbar a {
    float: left;
    display: flex;
    color: #dacfcf;
    text-align: center;
    padding:12px 15px;
    text-decoration: none;
    font-size: 22px;
}
.navbar a:hover {
    color: #ffffff;
}
.navbar{
    margin-right: -1000px;
}
body{
    background-image: url(homebackground.jpg);
    background-size: cover;
}