header {
    /* background-color:rgb(3, 3, 68); */
    background-image: url(bg-img-bluegradient.jpg);
    padding: 20px 0px;
    height: 50px;
    border: rgb(1, 1, 44) 5px solid;
    border-radius: 20px;
    display: flex;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}
.name a{
    color: white;
    padding: 2px 20px;
    text-align: center;
    margin-left: 300px;
    text-decoration: none;
}
.name{
    margin-top: -22px;
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    padding-left: 20px;
}
.navbar a {
    float: left;
    display: flex;
    color: #dacfcf;
    text-align: center;
    padding:12px 15px;
    text-decoration: none;
    font-size: 25px;
}
.navbar a:hover {
    color: #ffffff;
}
.navbar{
    margin-left: 180px;
}
body{
    background-image: url(homebackground.jpg);
    background-size: cover;
}
#name1{
    margin-left: 180px;
    margin-top: 18px;
}
#logo{
    margin-left: 15px;
    height: 70px;
    margin-top: -12px;
}
.quote{
    color: white;
    font-size: 20px;
    margin-left: 150px;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
}
#exp{
    color: orange;
}
.desc{
    color: white;
    margin-left: 150px;
    font-size: 17px;
    margin-bottom: 30px;
}
#menu{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: orange;
    border-radius: 20px;
    margin-left: 150px;
    padding: 10px 30px;
}
#menu:hover{
    background-color: darkorange;
    color: rgba(255, 255, 255, 0.786);
    box-shadow:  0px 5px 5px orange;
}
.icons{
    color: white;
    margin-left: 150px;
    margin-top: 40px;
}
.fa-solid{
    font-size: 20px;
    border: white 2px solid;
    border-radius: 10px;
    padding: 10px;
}
.cust{
    margin-top: 10px;
}
.icons1{
    margin-left: 350px;
    margin-top: -105px;
    color: white;
}
#loca{
    padding: 10px 15px;
}